[submodule "fuel/app/modules/foolfuuka"]
	path = fuel/app/modules/foolfuuka
	url = git@github.com:FoolRulez/FoolFuuka-module.git
[submodule "public/foolfuuka"]
	path = public/foolfuuka
	url = git@github.com:FoolRulez/FoolFuuka-public.git
