body {
	background-image: url(images/low_contrast_linen.png);
}

hr {
	border-top: 1px solid #ddd;
	border-bottom:none;
}

.container-fluid {
	width:900px;
	margin: 0 auto;
}

.content-rounded {
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 4px #444;
	   -moz-box-shadow: inset 0px 2px 4px #444;
			box-shadow: inset 0px 2px 4px #444;
	border-top: 1px solid #888;
	border-bottom: 1px solid #eee;
}

.satin {
	background-color:#f6f6f6;
	background-image: url(images/absurdidad.png);
	color: #222;
	width:70%;
	margin:20px 0 10px 25%;
	padding: 15px 2% 25px;
}


.satin h2, .satin h3, .satin h4, .sidebar h2, .sidebar h3, .sidebar h4 {
	color: #555;
	margin-bottom:15px;
	border-bottom: 1px solid #ddd;
	padding-bottom:10px;
	text-align:center;
}

.satin h2, .satin h3, .satin h4 {
    text-align:left;
}

.footer {
	color:#bbb;
	text-align:center;
	margin-top:30px;
}

.sidebar {
	width: 20%;
	padding: 2%;
	margin-top:50px;
	background-color:#f6f6f6;
	background-image: url(images/absurdidad.png);
}

.sidebar ol li {
	margin-bottom: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: gray;
}

.sidebar ol li.blue {
	color: blue;
}

.sidebar ol li.green {
	color: green;
}

.small-text {
    font-size: 0.8em;
}